[Unit]
Description=Archivematica workflow
Wants=network-online.target
After=network-online.target

[Service]
User={{ am_workflow_user }}
Group={{ am_workflow_group }}
ExecStart={{ am_workflow_bin_dir }}/archivematica-workflow -debug.addr="{{ am_workflow_debug_addr }}" -grpc.addr="{{ am_workflow_grpc_addr }}" -http.addr="{{ am_workflow_http_addr }}"

[Install]
WantedBy=multi-user.target
